Package: ssmuse
Version: 1.4.1
Section: admin
Priority: optional
Platform: all
Maintainer: Michel Valin <mfvalin@gmail.com>
Description: Loader for SSM domains and packages derived from 1.4 by John Marshall
Build Date: 2017/03/08
Build User: armnssm
Build Host: beluga
Build Uname: ('Linux', 'beluga', '2.6.32-71.el6', '#1 SMP Wed Sep 1 01:33:01 EDT 2010', 'x86_64')
