Package: ssmuse
Version: 1.4
Section: admin
Priority: optional
Platform: all
Maintainer: John Marshall <John.Marshall@ssc-spc.gc.ca>
Description: Loader for SSM domains and packages
Build Date: 2016-06-30 15:00:07
Build User: aspgjdm
Build Host: sage
Build Uname: ('Linux', 'sage', '3.13.0-87-generic', '#133-Ubuntu SMP Tue May 24 18:32:09 UTC 2016', 'x86_64')
